*{
    margin: 0;
    box-sizing: border-box;
}
.image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.image-container>div{
    position: relative;
}
.image-container>div>p{
    position: absolute;
    top: 0px;
    padding: 10px;
    background-color: black;
    color: white;
}
img{
    width: 100%;
}
@media screen and (max-width: 400px) {
    .image-container{
        grid-template-columns: 1fr;
    }
       .image-container>div>p{
        padding: 5px;
        font-size: 0.9rem;
    }

}
@media screen and (min-width:400px) and (max-width:900px) {
    .image-container{
        grid-template-columns: 1fr 1fr;
    }
    .image-container>div>p{
        padding: 2px;
        font-size: 0.5rem;
    }
}