*{
    margin: 0;
    box-sizing: border-box;
     font-family: "Quicksand", sans-serif;
}
.nav-container{
    background-color:rgb(233, 15, 15);
    display: flex;
    font-size: 1.8rem;
    gap: 5px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 50px rgb(122, 109, 109);
    
}
.link-container{
    display: flex;
    gap: 10px;
}
.link-container>.links{
    letter-spacing: 3px;
}
.home-container{
    background-color: white;
}
.home-container,.link-container{
    padding: 10px;
}
.home-container:hover{
    background-color: aquamarine;
}
body,html{
    height: 100%;
}
.red-container{
    background-color: rgb(238, 5, 5);
    width: 100%;
    height: 70%;
}
.red-container{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 120px;
}
.text-container>p:nth-child(1){
    font-size: 5rem;
    text-align: center;
    color: white;
    letter-spacing: 10px;
}
.text-container>p:nth-child(2){
    font-size: 2rem;
    text-align: center;
    color: white;
}
.text-container>.button>button{
    background-color: black;
    color: white;
    padding: 18px;
    width: 180px;
    font-size: 1.2rem;
    border: 0 solid;
    transition: 0.8s ease;
}
.button{
    display: flex;
    justify-content: center;
}
.button>button:hover{
    background-color: lightgray;
    color: black;
}
.anchor-container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    margin: 100px 0px;
}
.lorem-container{
    width: 50%;
}

.icon-container>.fa{
    font-size: 12.5rem;
    color: red;
    padding: 50px;
}
.lorem-container>p:nth-child(1){
    font-size: 3.5rem;
    padding: 50px 0px;
   
}
.lorem-container>p:nth-child(2){
    padding: 50px 0px;
    font-weight: 700;
     text-align: justify; 
}
.lorem-container>p:nth-child(3){
    color: rgb(26, 170, 122);
    text-align:justify;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.anchor-container2{
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    margin: 0px 0px;
    background-color: lightgray;
}
.lorem-container2{
    width: 50%;
}

.icon-container2>.fa{
    font-size: 12.5rem;
    color: red;
    padding: 50px;
}
.lorem-container2>p:nth-child(1){
    font-size: 3.5rem;
    padding: 50px 0px;
   
}
.lorem-container2>p:nth-child(2){
    padding: 50px 0px;
    font-weight: 700;
     text-align: justify; 
}
.lorem-container2>p:nth-child(3){
    color: rgb(26, 170, 122);
    text-align:justify;
    padding: 0px 0px 100px 0px;
}
.icon-container2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-container{
    background-color: gray;
    width: 100%;
    padding: 60px;
    color: white;
    text-align: center;
    
}
.quote-container>p{
    font-size: 1.2rem;
}
.footer-container{
    width: 100%;
    padding: 55px;
    text-align: center;
    line-height: 80px;
}
.footer-container>.fa{
    font-size: 2rem;
    transition: 0.8s ease;
    letter-spacing: 5px;
    
}
.footer-container>.fa:hover{
    color: burlywood;
    cursor: pointer;
    font-size: 2.3rem;
}
.menu{
    display: none;
}

/* media query */

@media screen and (max-width:400px) {
    .link-container>.links{
        display:none ;
    }
    .menu{
        font-size: 3rem;
        display: inline-block;
        width: 100%;
        display: flex;
        justify-content: end;
        
    }
    .text-container{
        line-height: 80px;
        
    }
    .text-container>p:nth-child(1){
        font-size: 3rem;
        letter-spacing: 5px;
    }
    .text-container>p:nth-child(2){
        font-size: 1rem;
    }
    .text-container>.button>button{
        padding: 5px;
        width: 100px;
    }
    .anchor-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px;
    }
    .lorem-container>p:nth-child(3){
        display: none;
    }
    .lorem-container>p:nth-child(1){
        padding: 10px 0px;
    }
    .lorem-container>p:nth-child(2){
        padding: 10px 0px;
    }
    .icon-container>.fa{
        font-size: 10rem;
    }
    .anchor-container2{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .lorem-container2>p:nth-child(3){
        display: none;
    }
    .lorem-container2>p:nth-child(1){
        padding: 10px 0px;
    }
    .lorem-container2>p:nth-child(2){
        padding: 10px 0px;
    }
    .icon-container2>.fa{
        font-size: 10rem;
    }
    .home-container{
        font-size: 1.5rem;
    }
}